:root {
    --darker: rgb(20, 154, 12);
    --lighter: rgb(20, 212, 4);
    --lightblue: rgb(136, 177, 242);
    --darkblue: rgb(66, 107, 172);
}

@font-face {
    font-family: "Cooper";
    src:    url("cooper/fonts/webfonts/Cooper-Bold.woff2") format("woff2"),
            url("cooper/fonts/otf/Cooper-Bold.otf") format("opentype"),
            url("cooper/fonts/ttf/Cooper-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cooper";
    src:    url("cooper/fonts/webfonts/Cooper-Black.woff2") format("woff2"),
            url("cooper/fonts/otf/Cooper-Black.otf") format("opentype"),
            url("cooper/fonts/ttf/Cooper-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cooper";
    src:    url("cooper/fonts/webfonts/Cooper-BoldItalic.woff2") format("woff2"),
            url("cooper/fonts/otf/Cooper-BoldItalic.otf") format("opentype"),
            url("cooper/fonts/ttf/Cooper-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cooper";
    src:    url("cooper/fonts/webfonts/Cooper-BlackItalic.woff2") format("woff2"),
            url("cooper/fonts/otf/Cooper-BlackItalic.otf") format("opentype"),
            url("cooper/fonts/ttf/Cooper-BlackItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0px 10%;
	background-color: rgb(256, 244, 188);
    font-family: "Cooper";
}

p {
    color: black;
    font-size: 14pt;
}

h1 {
    color:black;
    font-size: 36pt;
    margin-top: 12pt;
    margin-bottom: 13pt;
}

h2 {
    font-size: 20pt;
    color:black;
    text-decoration:underline;
}

h3 {
    color: black;
    font-size: 26pt;
    margin-top: 10pt;
    margin-bottom: 0;
}

ol {
    font-size: 12pt;
}

ul {
    font-size: 12pt;
    color: black;
    font-weight: bold;
}

figure {
    float: right;
    margin-left: 20px; 
    margin-right: 0; 
    margin-top: 0;
}

figcaption {
    font-size: 10pt;
}

.new {
    color: black;
    font-style: normal;
}

.old {
    color: var(--darker);
    font-style: italic;
}

img {
    border: 5px solid;
    border-color: var(--darker);
  }

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: var(--darker);
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a lighter background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--lighter);
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lighter);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--darker);
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.new a:link, .old a:link, .new a:visited, .old a:visited, .socialmedia a:link, .socialmedia a:visited, .image-container a:link, .image-container a:visited {
    color: var(--darkblue);
    text-decoration: none;
}

.new a:hover, .old a:hover, .image-container a:hover{
    color: var(--lightblue);
    text-decoration: underline;
}

.new a:active, .socialmedia a:active, .socialmedia a:hover, .image-container a:active {
    color: black;
    text-decoration: none;
}

.old a:active {
    color: var(--darker);
    text-decoration:none;
}

.socialmedia {
    text-align:center;
    background-color: var(--lighter);
    color: black;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.image-item {
    text-align:center;
    font-size: 16pt;
    width:30%;
}

.image-item img {
    aspect-ratio: 1/1;
}

.main-page {
    font-size: 20pt;
    text-align: center;
}