body {
	background-color: rgb(256, 244, 188);
}

a:link {
    color: rgb(20, 212, 4);
}

a:visited {
    color: rgb(20, 212, 4);
}

a:hover {
    color: rgb(20, 154, 12);
}

a:active {
    color: black;
}
